<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BMI Calculator</title>
  <!-- Bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
  
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/features" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="/pricing" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Features</h1>
      <p class="lead fw-normal"> Features (คุณสมบัติ) ของเว็บ BMI Calculator.</p>
      <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Features (คุณสมบัติ) ของเว็บ BMI Calculator.</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        
        <h3 class="fs-2">ปรับปรุงและบันทึกข้อมูล</h3>
        <p>ระบบที่ช่วยให้ผู้ใช้สามารถบันทึกผลลัพธ์ของการคำนวณ BMI และการเปลี่ยนแปลงของมันได้ เพื่อติดตามความคืบหน้าในการดูแลสุขภาพของตนเองในระยะยาว.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          อ่านเพิ่มเติม
          
        </a>
      </div>
      <div class="feature col">
        
        <h3 class="fs-2">การวัดค่า BMI สำหรับกลุ่มเป้าหมายที่แตกต่างกัน</h3>
        <p>การเสนอคำแนะนำเฉพาะสำหรับกลุ่มเป้าหมายที่แตกต่างกัน เช่น ค่า BMI ที่เหมาะสมสำหรับผู้สูงอายุ หรือผู้ออกกำลังกายมาก.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          อ่านเพิ่มเติม
          
        </a>
      </div>
      <div class="feature col">
        
        <h3 class="fs-2">การแสดงผลแบบกราฟฟิก</h3>
        <p>การนำเสนอข้อมูลผลลัพธ์ในรูปแบบกราฟฟิกที่ช่วยให้ผู้ใช้ง่ายต่อการเข้าใจและติดตามความก้าวหน้าของสุขภาพ.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          อ่านเพิ่มเติม
          
        </a>
      </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        
        <h3 class="fs-2">คำแนะนำเพิ่มเติมเกี่ยวกับสุขภาพ</h3>
        <p>การให้คำแนะนำเพิ่มเติมเกี่ยวกับการดูแลสุขภาพ เช่น แนวทางการออกกำลังกายที่เหมาะสมหรือแนะนำเรื่องการกินอาหารที่สมดุล.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          อ่านเพิ่มเติม
          
        </a>
      </div>
      <div class="feature col">
        
        <h3 class="fs-2">ความสามารถในการแบ่งกลุ่มผลลัพธ์</h3>
        <p>ระบบที่ช่วยแบ่งกลุ่มผลลัพธ์ BMI เพื่อให้ผู้ใช้เข้าใจว่าผลลัพธ์ที่ได้หมายถึงอะไรและมีความหมายอย่างไร.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          อ่านเพิ่มเติม
          
        </a>
      </div>
      <div class="feature col">
        
        <h3 class="fs-2">การแจ้งเตือนหรือเชิงการเรียนรู้</h3>
        <p>ระบบการแจ้งเตือนที่ช่วยให้ผู้ใช้เรียนรู้เพิ่มเติมเกี่ยวกับสุขภาพ และการรักษาสุขภาพให้ดีขึ้นโดยตลอดเวลา.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          อ่านเพิ่มเติม
          
        </a>
      </div>
    </div>
  </div>



  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Name : Wisit Phusakul</span>
    </div>
  </footer>

  <!-- Bootstrap 5 script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
